// Extended

$font-size-info: 12px;
$text-color-success: #00ff00;
$text-color-warning: #ff0000;

.info {
  font-size: $font-size-info;
}

.success, .warning {
    @extend .info;
}

.success {
  color: $text-color-success;
}

.warning {
  color: $text-color-warning;
}
